@import 'theme.css';

/* *large screen */
@media(max-width:1440px){
    html{
        font-size: 20px;
        font-family: 'SUSE',sans-serif;
    }
    button{
        display:inline-block;
        padding: 3px 10px;
        border-radius: 8px;
        border-style: none;  
    }
}

/* * Tablet screen */
@media(max-width:768px){
    html{
        font-size: 15px;
        font-family: 'SUSE',sans-serif;
    }
    button{
        display:inline-block;
        padding: 2px 7px;
        border-radius: 6px;
        border-style: none;  
        
    }
}

/* * Mobile screen */
@media(max-width:450px){
    html{
        font-size: 10px;
        font-family: 'SUSE',sans-serif;
    }
    button{
        display:inline-block;
        padding: 2px 7px;
        border-radius: 6px;
        border-style: none;  
    }
}

body{
    background: var(--light-peach);
}
.page{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15px 1ft 15px;
}

button{
    font-family: 'SUSE', sans-serif;
    padding: 0.3rem 1.5rem;
}

.page-header{
    padding-bottom: 20vh;
}

/* * HEADER NAVIGATION */
.nav-header{
    display: flex;
    align-items: center;
}

#logo-top{
    margin-left: 5vh;
}
.nav-bar a{ 
    text-decoration: none;
    margin:1em;
    color: var(--gray);
}

.button-grp-top{
    display:inline-block;
    margin-left: 80vh;
    /* TODO: create the gap between login and signup */
}

#login-btn{
    background-color: var(--gray);
}

#signup-btn{
    background-color: var(--orange-peach);
}

.intro{
    display: grid;
    margin: 0 10vh 0 10vh;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

h1{ 
    color: var(--orange-peach);
    font-size: 5em;
}

#desc{
    color:var(--gray);
    margin-top: -10vh;
}

#getStartedBtn{
    background-color: var(--light-blue);
    margin-left: 5vh;
    font-size: 1rem;
}

.short-url-form{
    background:var(--dark-green) ;
    margin:10vh 20vh;
    padding: 5vh;
    border-radius:10px;
}

input{
    font-family: 'SUSE',sans-serif;
    color: var(--gray);
    width:83%;
    margin-right: 3vh;
    font-size: 0.75rem;
}

#button-form{
    /* todo: do more design in the place link here */
    width:6rem;
    background: var(--light-blue);
    font-size: 0.75rem;
}


.page-footer{
    
    display: grid;
    grid-template-columns: 25vh auto auto;
    padding: 70px 15px 75px;
    background-color: var(--black-violet);
}

.page-footer #logo-bottom{
    grid-column: 1;
    width: 121px;
    height: 100;
}
.page-footer .company-links{
    grid-column: 2;
    display: grid;
    grid-template-columns: 0.5fr repeat(3,auto);
    align-items: start;
}

.company-links .title{
    color:white;
    font-size: 1rem;
}

.company-links .links{
    display: flex;
    align-items: flex-start;
    flex-direction: column ;
}

.company-links a{
    text-decoration: none;
    color: var(--gray);
    font-size: 0.75rem;
}

.page-footer .social-media-links{
    /* display: grid; */
    grid-auto-flow: column;
    align-items: center;
    column-gap: 1px;
}

.company-links .group{
    margin-bottom: 40px;
}
.social-media-links img{
    width: 50px;
    height: 20px;
}



